body
{
	color: #630;
	font-family: verdana;
	font-size: 15px;
	text-align: center;
}

h1
{
	margin-top: 0.3em;
	margin-bottom: 0px;
	padding: 0px;
}

img
{
	margin: 0.2em;
}


#contenido
{
	margin:0.1em 0.2em;
	text-align: justify;
}

#contenido p
{
	padding:0 0.3em;
	text-align: justify;
}

#contenido_interactivo
{
	background-color: #f0d2a3;
	height: 520px;
	margin: 0 auto;
	width:720px;
}

#mensaje{
	color: #ff6600;
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding: 3px;
	text-align: center;
}

.img_left
{
	float: left;
}

.img_right
{
	float: right;
}