body
{
	color: #000;
	font-family: verdana;
	font-size: 20px;
	text-align: center;
}

h1{
	color:rgb(18, 112, 191);
	font-family:Verdana;
	font-size:2em;
	margin:0 auto;
	padding:10px 5px 5px 5px;
	text-align:center;
	text-shadow: 1px 1px 0.5px #000;
	width:450px;
}

h2{
	color:rgb(229, 163, 30);
	font-size:1.2em;
	font-weight:bold;
	height:30px;
	margin:0px;
	padding-top:5px;
	text-align:center;
	width:680px;
}

img
{
	margin: 0.2em;
}

li
{
	text-align: left;
}

ul
{
	text-align: left;
}


#contenido_interactivo
{
	background-color: #f6f2d5;
	height: 520px;
	margin: 0 auto; 
	width:720px;
}

.cont_txt
{
	padding: 0 1em;
	text-align: left;
}

#pagina
{
	background-color: white;
	border-radius: 0.5em;
	height: 460px;
	margin: 0 auto;
	overflow: auto;
	padding: 0;
	width: 95%;
}