body
{
	color: #630;
	font-family: verdana;
	font-size: 15px;
	text-align: center;
}

h1{
	color:rgb(18, 112, 191);
	font-family:Verdana;
	font-size:1.5em;
	margin:0 auto;
	padding:10px 5px 5px 5px;
	text-align:center;
	text-shadow: 1px 1px 0.5px #000;
	width:450px;
}
img
{
	margin: 0.2em;
}

#contenido
{
	margin:0.1em 0.2em;
	text-align: justify;
}

#contenido p
{
	padding:0 0.3em;
	text-align: justify;
}

#contenido_interactivo
{
	background-color: #f0d2a3;
	height: 520px;
	margin: 0 auto;
	width:720px;
}

#mensaje{
	color: #ff6600;
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding: 3px;
	text-align: center;
}

.img_left
{
	float: left;
}

.img_right
{
	float: right;
}

.enlaces
{
	color: #996633;
	font-size: 1em;
	text-decoration: none;
}
.enlaces :hover
{
	text-decoration: underline;
}