body
{
	color: #000;
	font-family: verdana;
	font-size: 16px;
	text-align: center;
}

h1{
	color:#2d5d93;
	font-family:Verdana;
	font-size:1.8em;
	font-weight: bold;
	margin:0 auto;
	padding:10px 5px 5px 5px;
	text-align:center;
	width:450px;
}


img
{
	display: inline-block;
	float: right;
	margin: 0.2em;
	*display: inline;
	zoom: 1;
}


#contenido_interactivo
{
	background-color: #f6f2d5;
	height: 520px;
	margin: 0 auto; 
	width:720px;
}

.cont_txt
{
	margin: 1.5em 0;
	padding: 0 1em;
	text-align: left;
}

#pagina
{
	background-color: white;
	border-radius: 0.5em;
	height: 460px;
	margin: 0 auto;
	overflow: auto;
	padding: 0;
	width: 95%;
}